{% extends "base.html" %}
  {% block content %}
  <div class="max-w-3xl mx-auto">
    <h1 class="text-2xl font-bold mb-6">Horarios de atención</h1>
    <p class="mb-5">Ingrese sus días de atención en el calendario, y los días de la semana que atenderá en esas fechas.</p>

    <form method="post" action='{% url "doctores_turnos" %}' x-data="workingHours()" @submit="submitWorkingHours()" class="space-y-4" x-id="['dateRange']">
      {% csrf_token %}


   {% if form.errors %}
          <div role="alert" class="alert alert-error shadow-lg my-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" 
  stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <div>
                  <ul class="list-disc pl-5 mt-2">
                      {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
  
                      {% for field in form %}
                          {% if field.errors %}
                              <li>
                                  {{ field.errors }}
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              </div>
          </div>
      {% endif %}

      <c-date_picker id="dateRange">
      </c-date_picker>

      <template x-for="day in days" :key="day.name">
        <div class="card bg-white shadow border-2 transition-all duration-200 cursor-pointer group"
          :class="day.selected ? 'border-purple-500' : 'border-gray-200'" @click="toggleDayCard(day)">
          <div class="card-body p-4">
            <div class="flex flex-col md:flex-row md:items-center gap-4">
              <div class="flex items-center gap-3 pr-9">
                <input type="checkbox" x-model="day.selected" @click.stop
                  class="checkbox-sm checkbox-primary pointer-events-none"
                  :class="day.selected ? 'checkbox-primary' : ''">
                <span class="text-base sm:min-w-20 text-shadow-base-content" x-text="day.name"></span>
              </div>

              <div x-show="day.selected" x-transition class="flex">
                <div :class="day.timeRanges.length > 1 ? 'space-y-5 sm:space-y-3': ''">
                  <template x-for="(range, index) in day.timeRanges" :key="index">
                    <div class="flex items-center gap-2 flex-wrap">
                      <select x-model="range.appointmentDuration" @click.stop
                        class="select select-sm select-bordered bg-white min-w-[80px] max-w-max">
                        <option value="15">15 min</option>
                        <option value="30">30 min</option>
                        <option value="45">45 min</option>
                        <option value="60">60 min</option>
                      </select>

                      <select x-model="range.sede" @click.stop
                        class="select select-sm select-bordered bg-white min-w-[80px] max-w-max">
                        {% for sede in sedes %}
                        <option value="{{ sede }}">{{ sede }}</option>
                        {% endfor %}
                      </select>

                      <div class="flex items-center gap-2 flex-wrap sm:flex-shrink-0">
                        <div class="flex items-center gap-1 bg-gray-100 rounded-lg px-1 py-1">
                          <input type="number" x-model="range.startHour" min="0" max="23"
                            @input="limitToTwoDigits($event)" @click.stop
                            class="input input-ghost input-sm w-12 text-center p-0 bg-transparent border-none">
                          <span class="text-gray-500">:</span>
                          <input type="number" x-model="range.startMinute" min="0" max="59" step="15"
                            @input="limitToTwoDigits($event)" @click.stop
                            class="input input-ghost input-sm w-12 text-center p-0 bg-transparent border-none">
                        </div>

                        <span class="text-gray-500">-</span>

                        <div class="flex items-center gap-1 bg-gray-100 rounded-lg px-1 py-1">
                          <input type="number" x-model="range.endHour" min="0" max="23"
                            @input="limitToTwoDigits($event)" @click.stop
                            class="input input-ghost input-sm w-12 text-center p-0 bg-transparent border-none">
                          <span class="text-gray-500">:</span>
                          <input type="number" x-model="range.endMinute" min="0" max="59" step="15"
                            @input="limitToTwoDigits($event)" @click.stop
                            class="input input-ghost input-sm w-12 text-center p-0 bg-transparent border-none">
                        </div>


                        <button type="button" x-show="index === day.timeRanges.length - 1" @click.stop="addTimeRange(day)"
                          class="btn btn-circle btn-sm btn-primary">
                          <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4">
                            </path>
                          </svg>
                        </button>

                        <button type="button" x-show="day.timeRanges.length > 1" @click.stop="removeTimeRange(day, index)"
                          class="btn btn-circle btn-sm bg-gray-400 hover:bg-gray-500 border-gray-400 hover:border-gray-500 text-white font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-200 z-20">
                          <svg class="w-4 h-4 stroke-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                            </path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>

      <input type="hidden" name="date_range_data" x-ref="date_range_input">
      <input type="hidden" name="working_hours_data" x-ref="working_hours_input">

      <div class="mt-6 flex justify-end">
        <button type="submit" class="btn btn-primary btn-lg">
          Crear turnos
        </button>
      </div>
    </form>
  </div>

  <script>
    function workingHours() {
      return {
        days: [
          {% with dias="Lunes Martes Miércoles Jueves Viernes Sábado" %}
          {% for dia in dias.split %}
              {
                name: '{{dia}}',
                selected: false,
                timeRanges: [
                  {startHour: '09', startMinute: '00', endHour: '12', endMinute: '00', appointmentDuration: '30', sede: '{{ sedes.0 }}' }
                ]
              },
          {% endfor %}
          {% endwith %}
        ],

        toggleDay(day) {
          if (!day.selected && day.timeRanges.length === 0) {
            day.timeRanges.push({
              startHour: '09',
              startMinute: '00',
              endHour: '12',
              endMinute: '00',
              appointmentDuration: '30',
              sede:'{{ sedes.0 }}' 
            });
          }
        },

        addTimeRange(day) {
          day.timeRanges.push({
            startHour: '13',
            startMinute: '00',
            endHour: '17',
            endMinute: '00',
            appointmentDuration: '30',
            sede:'{{ sedes.0 }}' 
          });
        },

        removeTimeRange(day, index) {
          if (day.timeRanges.length > 1) {
            day.timeRanges.splice(index, 1);
          }
        },

        getSelectedHours() {
          return this.days
            .filter(day => day.selected)
            .map(day => ({
              day: day.name,
              timeRanges: day.timeRanges.map(range => ({
                start: `${range.startHour.toString().padStart(2, '0')}:${range.startMinute.toString().padStart(2, '0')}`,
                end: `${range.endHour.toString().padStart(2, '0')}:${range.endMinute.toString().padStart(2, '0')}`,
                appointmentDuration: `${range.appointmentDuration}`,
                sede: `${range.sede}`
              }))
            }));
        },

        toggleDayCard(day) {
          day.selected = !day.selected;
          this.toggleDay(day);
        },

        limitToTwoDigits(event) {
          const value = event.target.value;
          if (value.length > 2) {
            event.target.value = value.slice(0, 2);
            event.target.dispatchEvent(new Event('input'));
          }
        },

        submitWorkingHours() {
          const dateRangeComponent = document.getElementById('dateRange-1');
          const dateRange = Alpine.$data(dateRangeComponent).getDateRange();

          const workingHoursData = this.getSelectedHours();

          this.$refs.working_hours_input.value = JSON.stringify(workingHoursData);
          this.$refs.date_range_input.value = JSON.stringify(dateRange);
        }

      }
    }
  </script>

{% endblock content %}
