{% load i18n %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <style>
    body {
      font-family: 'Inter', sans-serif;
    }

    [x-cloak] {
      display: none
    }
  </style>
  <script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  {% tailwind_css %}
  <title>
    {% block head_title %}
    {% endblock head_title %}
  </title>
  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="p-8" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div>
    {% block body %}
      <div class="navbar bg-base-100 shadow-sm mb-8">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">Centro de salud papita</a>
        </div>
        <div class="flex gap-2">
          <input type="text" placeholder="Buscar" class="input input-bordered w-24 md:w-auto" />

          {% if user.is_authenticated %}
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  <img
                    alt="foto avatar"
                    # TODO: poner avatar de la cuenta
                    src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                </div>
              </div>
              <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                  {% url 'profile' as profile_url_ %}
                  <a href="{{ profile_url_ }}">
                    Mi Perfil
                  </a>
                </li>
                <li><a href="/account">Configuración</a></li>
                {% url 'account_logout' as logout_url_ %}
                {% if logout_url_ %}
                <li>
                  <a href="{{ logout_url_ }}">{% trans "Salir" %}</a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        {% endif %}
      </div>

    {% block content %}
    {% endblock content %}
    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body %}

  </div>
</body>

</html>

{% block script %}
{% endblock %}
